 <b>The best country to move to as a newly graduated software developer  </b>

 
Datasets 

- Indeed Software Engineer Job Dataset 
https://www.kaggle.com/datasets/samrat77/indeed-software-engineer-job-dataset 

- Healthy Lifestyle Cities Report 2021 
https://www.kaggle.com/datasets/prasertk/healthy-lifestyle-cities-report-2021 

- LinkedIn Software Engineering Jobs Dataset 
https://www.kaggle.com/datasets/asaniczka/software-engineer-job-postings-linkedin 

- Quality of Life for Each Country 
https://www.kaggle.com/datasets/ahmedmohamed2003/quality-of-life-for-each-country 

- Quality of Life Index by Country 
https://www.kaggle.com/datasets/marcelobatalhah/quality-of-life-index-by-country 
 

Articles 

https://www.linkedin.com/pulse/top-10-best-countries-software-engineers-2023-dannielle-seddon 
1. USA 
2. Canada 
3. Switzerland 

https://www.wearedevelopers.com/en/magazine/267/best-countries-for-software-engineers 
1. Canada 
2. Australia 
3. Sweden 

https://en.dev.bg/what-are-the-best-countries-for-software-engineers/ 
1. Canada 
2. Switzerland 
3. USA 

https://www.hackerearth.com/blog/developers/best-countries-software-engineers-developers-work-2017/ 
1. Switzerland 
2. Canada 
3. Australia 

https://www.geeksforgeeks.org/best-countries-for-software-engineers/ 
1. Switzerland 
2. USA 
3. UK 

https://medium.com/@analyticsinsight/best-countries-for-programming-jobs-4d264f37e001 
1. Switzerland 
2. USA 
3. UK 

https://rolespilot.com/blog/best-countries-for-software-engineers/ 
1. USA 
2. Switzerland 
3. Canada 

Asking CHATGPT 
https://chatgpt.com/c/67c8ab10-c968-8000-bd6b-928edde583c2 
1. Germany 
2. Canada 
3. USA 

Initial prediction  

1. Switzerland 
2. Canada 
3. USA

In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy.stats import pearsonr
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression

<b>1.Theoretical Framework </b>

The goal of this project is to create an index that compares countries and identifies the best places for newly graduated software engineers or junior software engineers to move to. This topic was chosen because of the growing demand for software engineers worldwide and for my own personal reason as i want to emigrate once i graduate as a software engineer. It's important for new graduates to know what country will offer them the best opportunity for their career allowing them to develop professionally and the best country regarding living standards.  

This index will look at different factors such as salaries, cost of living, quality of life and job demand. These factors will have different levels of importance assigned to them with an overall combined score which will rank the countries on how good they would be to move to as a newly graduated software engineer.

<b>2.Data Selection</b>

In [5]:
file_path = 'Indeed_10k.csv'
jobsData = pd.read_csv(file_path)
print(jobsData.head())

   Unnamed: 0                             Name              Company  \
0           0    Entry level Software Engineer  CapitalPlanHoldings
1           1         Junior Software Engineer            FormSwift
2           2                Software Engineer            Microsoft
3           3  Software Engineer - Entry Level             Pathrise
4           4       Software Engineer (Python)                Imgix

                         City  Ratings  \
0           San Francisco, CA      NaN
1           San Francisco, CA      NaN
2           San Francisco, CA      4.2
3  San Francisco Bay Area, CA      NaN
4           San Francisco, CA      NaN

                                             Summary          Date
0  Programming experience using C#, C++, or Java ...    2 days ago
1  Building new product features across the back ...  30+ days ago
2  Yammer-THE social network for workplace-is hir...    5 days ago
3  You'll be expected to deliver in an agile envi...    2 days ago
4  Comfortable developing in Python (or similar)....    5 days ago

In [4]:
file_path = 'Quality_of_Life.csv'
countryData = pd.read_csv(file_path)
print(countryData.head())

         country  Purchasing Power Value Purchasing Power Category  \
0    Afghanistan                   32.15                'Very Low'
1  Aland Islands                  125.01               'Very High'
2        Albania                   42.82                     'Low'
3       Alderney                    0.00                       NaN
4        Algeria                   27.60                'Very Low'

   Safety Value Safety Category  Health Care Value Health Care Category  \
0         25.33           'Low'              24.24                'Low'
1         71.81          'High'              79.72               'High'
2         55.52      'Moderate'              48.21           'Moderate'
3         83.79     'Very High'             100.00          'Very High'
4         47.54      'Moderate'              54.43           'Moderate'

   Climate Value Climate Category  Cost of Living Value  \
0           0.00              NaN                 21.08
1           0.00              NaN                 53.44
2          86.43      'Very High'                 40.85
3           0.00              NaN                  0.00
4          94.82      'Very High'                 25.31

  Cost of Living Category Property Price to Income Value  \
0              'Very Low'                            7.8
1                   'Low'                           5.33
2                   'Low'                          14.88
3                     NaN                            0.0
4              'Very Low'                           21.7

  Property Price to Income Category  Traffic Commute Time Value  \
0                             'Low'                       56.17
1                             'Low'                       19.05
2                            'High'                       36.74
3                               NaN                        5.00
4                       'Very High'                       45.09

  Traffic Commute Time Category  Pollution Value Pollution Category  \
0                   'Very High'            84.44        'Very High'
1                    'Very Low'            18.05         'Very Low'
2                    'Moderate'            77.25             'High'
3                    'Very Low'             1.72         'Very Low'
4                        'High'            63.87             'High'

  Quality of Life Value Quality of Life Category
0                   0.0                      NaN
1                   0.0                      NaN
2            ': 104.16'                    'Low'
3                   0.0                      NaN
4             ': 98.83'               'Very Low'

<b>3.Imputation of missing data  </b>

In [29]:
print(jobsData.isnull().sum()) 
print(jobsData.info())

Unnamed: 0       0
Name             0
Company          0
City             0
Ratings       3776
Summary          0
Date             0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   Name        10000 non-null  object
 2   Company     10000 non-null  object
 3   City        10000 non-null  object
 4   Ratings     6224 non-null   float64
 5   Summary     10000 non-null  object
 6   Date        10000 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 547.0+ KB
None

In [30]:
jobsData_NA_Removed = jobsData.dropna(subset=['Ratings'])
print(jobsData_NA_Removed.isnull().sum())
print(jobsData_NA_Removed.info())

Unnamed: 0    0
Name          0
Company       0
City          0
Ratings       0
Summary       0
Date          0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 6224 entries, 2 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6224 non-null   int64
 1   Name        6224 non-null   object
 2   Company     6224 non-null   object
 3   City        6224 non-null   object
 4   Ratings     6224 non-null   float64
 5   Summary     6224 non-null   object
 6   Date        6224 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 389.0+ KB
None

In [7]:
print(jobsData.duplicated().sum())
print(jobsData[jobsData.duplicated()])

0
Empty DataFrame
Columns: [Unnamed: 0, Name, Company, City, Ratings, Summary, Date]
Index: []

In [8]:
print(jobsData.describe())

        Unnamed: 0      Ratings
count  10000.00000  6224.000000
mean    4999.50000     3.918493
std     2886.89568     0.375576
min        0.00000     1.800000
25%     2499.75000     3.700000
50%     4999.50000     3.900000
75%     7499.25000     4.200000
max     9999.00000     5.000000

In [28]:
print(countryData.isnull().sum())

country                                0
Purchasing Power Value                 0
Purchasing Power Category             46
Safety Value                           0
Safety Category                        2
Health Care Value                      0
Health Care Category                  15
Climate Value                          0
Climate Category                     122
Cost of Living Value                   0
Cost of Living Category               45
Property Price to Income Value         0
Property Price to Income Category     21
Traffic Commute Time Value             0
Traffic Commute Time Category         29
Pollution Value                        0
Pollution Category                    10
Quality of Life Value                  0
Quality of Life Category             122
dtype: int64

In [31]:
CountryData_NA_Removed = countryData.dropna(subset=['Quality of Life Category'])
print(CountryData_NA_Removed.isnull().sum())
print(CountryData_NA_Removed.info())

country                              0
Purchasing Power Value               0
Purchasing Power Category            0
Safety Value                         0
Safety Category                      0
Health Care Value                    0
Health Care Category                 0
Climate Value                        0
Climate Category                     0
Cost of Living Value                 0
Cost of Living Category              0
Property Price to Income Value       0
Property Price to Income Category    0
Traffic Commute Time Value           0
Traffic Commute Time Category        0
Pollution Value                      0
Pollution Category                   0
Quality of Life Value                0
Quality of Life Category             0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 114 entries, 2 to 235
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            114 non-null    object
 1   Purchasing Power Value             114 non-null    float64
 2   Purchasing Power Category          114 non-null    object
 3   Safety Value                       114 non-null    float64
 4   Safety Category                    114 non-null    object
 5   Health Care Value                  114 non-null    float64
 6   Health Care Category               114 non-null    object
 7   Climate Value                      114 non-null    float64
 8   Climate Category                   114 non-null    object
 9   Cost of Living Value               114 non-null    float64
 10  Cost of Living Category            114 non-null    object
 11  Property Price to Income Value     114 non-null    object
 12  Property Price to Income Category  114 non-null    object
 13  Traffic Commute Time Value         114 non-null    float64
 14  Traffic Commute Time Category      114 non-null    object
 15  Pollution Value                    114 non-null    float64
 16  Pollution Category                 114 non-null    object
 17  Quality of Life Value              114 non-null    object
 18  Quality of Life Category           114 non-null    object
dtypes: float64(7), object(12)
memory usage: 17.8+ KB
None

4.Multivariate Analysis

5.Normalization

6.Weighting and Aggregation

7.Link to other indicators (dont need to do)

8.Visualization of Results

9.Version control

10.Deliverables